/*
    Author: Quevedo Ramos, Brayan
    Co-Author: Millet, Jordan

    Date: 4/29/19

    Purpose:
        - Any tags that will go on all of the pages (like H tags) go here.

    General Notes:
        - CLASS STRUCTURE: .(sectionName)-(containerName)-(rowName(optional))-(class)
*/
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

.mb-6{
    margin-bottom: 6vh;
}

.mb-7{
    margin-bottom: 7vh;
}

.mb-8{
    margin-bottom: 8vh;
}

.mb-9{
    margin-bottom: 9vh;
}

.mb-10{
    margin-bottom: 10vh;
}

.mt-8{
    margin-top: 8vh;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Raleway', sans-serif;
}

p{
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
}

body{
    background:#E8E8E8;
}

hr.shortLine{
    border-radius: 2px;
    height:2px;
    border:none; 
    color:#fa4616; 
    background-color:#fa4616;
    width:10%;
    text-align:center;
    margin: 0 auto;
    margin-bottom: 3vh;
}

.bold{
    font-weight: bold;
}

.matBlackBG{
    background: rgb(24,24,24);
}

.sportsMedBG{
    background: #2d142c;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
    }
    @-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}
.animatedFadeInUp {
    opacity: 0
}
.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.opacityBlack{
    background: rgba(0, 0, 0, 0.6);
}

hr.shortLineWhite{
    border-radius: 2px;
    height:2px;
    border:none; 
    color:white; 
    background-color:white;
    width:10%;
    text-align:center;
    margin: 0 auto;
    margin-bottom: 3vh;
}