/*
    Author: Quevedo Ramos, Brayan
    Co-Author: Millet, Jordan

    Date: 4/29/19

    Purpose:
        - Any tags that go at the top of the page go here.

    General Notes:
        - CLASS STRUCTURE: .(sectionName)-(containerName)-(rowName(optional))-(class)
*/

/*Top of page*/
.masthead {
  color: white;
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: rgb(24, 24, 24);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: light;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
  .masthead h1 {
    font-size: 3rem;
  }
}

/*Make the slanted line at the bottom of masthead*/
.mastheadSlantedLineOption{
  color: #fff;
  position: relative;
  z-index: 1;
  margin-top: -1px;
  margin-bottom: 130px;
  padding-top: 80px;
}

.mastheadSlantedLineOption:after {
  background: inherit;
  bottom: -140px;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(4deg);
  transform-origin: 100%;
  z-index: -1;
}

/* Fix/hack for 1080p+ displays */
@media screen and (min-width: 1921px) {
  .mastheadSlantedLineOption {
    padding-bottom: 5px;
    margin-bottom: 240px !important;
  }

  .mastheadSlantedLineOption:after{
    bottom: -220px !important;
  }
}