/*
    Author: Quevedo Ramos, Brayan
    Co-Author: Millet, Jordan

    Date: 4/29/19

    Purpose:
        - Any tags that are navigation related go here.

    General Notes:
        - CLASS STRUCTURE: .(sectionName)-(containerName)-(rowName(optional))-(class)
*/