@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.masthead{
    background: hsl(192, 35%, 19%);
}

.whatIsBusiness{
    padding-bottom: 5vh;
}

.howWeWork{
    color: white;
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: url(../../img/programPictures/businessIntro.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.opacityBlack{
    background: rgba(0, 0, 0, 0.3);
}

@media (min-width: 991px) {
    .opacityBlack{
        background: rgba(0, 0, 0, 0.3);
    }
}