.masthead {
    background: #111b2b;
    height: 110%;
  }

.careers{
    padding-top : 50px;
    padding-bottom : 50px;
    color : white;
    background: #111b2b;
}

.aboutProgram
{
    padding-top : 50px;
    padding-bottom : 50px;
    color: black;
}

.CTEGallery
{

    padding-top : 50px;
    padding-bottom : 50px;
    color : white;
    background: #111b2b;

}



@media screen and (max-width: 768px) {
    .text-carousel {
        margin : 4vh;
        text-align: justify;
    }
}

.column 
{
    float: left;
    width: 50%;
    text-align : center;
}

.slantedLineOptionTest
{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 91%);
}

.slantedLineOptionTestInverted
{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 9%, 100% 0, 100% 100%, 0 100%);
}