.masthead {
    background: #111b2b;
  }

.careers{
    padding-top : 50px;
    padding-bottom : 50px;
    color : white;
    background: #111b2b;
}

.aboutProgram
{
    padding-top : 50px;
    padding-bottom : 50px;
    color: black;
}

.CTEGallery
{
    margin-top : -1vh;
    padding-top : 50px;
    padding-bottom : 100px;
    color : white;
    background: #111b2b;

}

.Contact
{
    padding-top : 50px;
    padding-bottom : 50px;
    color: black;
    line-height : 40px;
}

.Contact-Info
{

    display : block;

}

@media screen and (max-width: 768px) {
    .text-carousel {
        margin : 4vh;
        text-align: justify;
    }
}

.careers .column 
{
    float: left;
    width: 50%;
    text-align : center;
}

.slantedLineOptionTest
{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 91%);
}

.slantedLineOptionTestInverted
{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 9%, 100% 0, 100% 100%, 0 100%);
}