/*
    Author: Quevedo Ramos, Brayan
    Date: 5/1/19
*/

.title-orangeSpragueLogo{
    color: #FA4616;
}

.aboutCTE{
    color: #e8e8e8;
}

.aboutCTE:hover{
    color: black;
    transition: 1s;
}

.transitionToPrograms{
    background-color: #181818;
}